#navbar {
  position: fixed;
  top: 0px;
  left: 1008px;
  color: red;
  background-color: #d83d7e;
}
p:hover {
  color: rgb(34, 153, 117);
}

body {
  background-color: #c2a69f;
}

.logoname {
  color: rgb(223, 75, 99);
  position: fixed;
  top: 0px;
  right: 1028px;
  background: transparent;
  animation-name: rainbow;
  animation-duration: 4s;
}

#homepage {
  color: rgb(27, 185, 172);
  font-size: 100px;
}

#contactpage {
  position: fixed;
  bottom: 0px;
  right: 550px;
  text-align: center;
  background-color: blue;
}

p {
  text-align: center;
}

@keyframes rainbow {
  0% {
    background-color: palevioletred;
  }
  100% {
    background-color: cornflowerblue;
  }
}
