html {
  scroll-behavior: smooth;
}
#navbar {
  position: fixed;
  top: 0px;
  left: 550px;
}
p:hover {
  color: rgb(34, 153, 117);
}
a {
  margin-left: 0.3em;
}
a:hover {
}
body {
}

.logoname {
  color: rgb(223, 75, 99);
  position: fixed;
  top: 0px;
  right: 1028px;
  background: transparent;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#homepage {
  color: rgb(27, 185, 172);
  font-size: 100px;
  height: 600px;
  background-color: pink;
}
#blogspage {
  height: 600px;
  background-color: yellow;
}
#footerpage {
  position: fixed;
  bottom: 0px;
  right: 550px;
  text-align: center;
  background-color: blue;
}

p {
  text-align: center;
}

@keyframes rainbow {
  0% {
    color: rgb(177, 73, 108);
    transition: color 4s;
  }
  50% {
    color: blueviolet;
    transition: color 5s;
  }
  100% {
    color: cornflowerblue;
    transition: color 4s;
  }
}
.site-header {
  position: relative;
  background-color: #def7ff;
}
.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 600px) {
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.nav__item a {
  display: block;
  padding: 1.5rem 1rem;
}
