* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
nav {
  display: inline-block;
  position: fixed;
  width: 100%;
  min-height: 10vh;
  font-family: "Rock Salt";
  background: #f96262;
  opacity: 0.65;
  border: 1px solid #dcd1d1;
}
.logo {
  color: antiquewhite;
  letter-spacing: 5px;
  font-size: 20px;
}
.navlinks {
  display: flex;
  justify-content: space-around;
}
.navlinks li {
  list-style: none;
  width: 200px;
  height: 50px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
}
.navlinks a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: antiquewhite;
  margin: 5px;
  transition: all 0.3s ease;
}
.burger {
  display: none;
}
@media screen and (max-width: 768px) {
  navlinks {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navlinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #f96262;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navlinks li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.logoname {
  color: rgb(223, 75, 99);
  top: 0px;
  right: 1028px;
  background: transparent;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {
    color: rgb(177, 73, 108);
    transition: color 4s;
  }
  50% {
    color: blueviolet;
    transition: color 5s;
  }
  100% {
    color: cornflowerblue;
    transition: color 4s;
  }
}

@media (min-width: 600px) {
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.kodelogo {
  position: absolute;
  width: 454px;
  height: 119px;
  left: 35%;
  top: 104px;
  justify-content: space-between;
  font-family: "Rock Salt";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 119px;
}
.homepage {
  height: 600px;
  background-color: pink;
  color: red;
}

.aboutpage {
  height: 600px;
}
.projectpage {
  height: 600px;
  background-color: pink;
}
.blogpage {
  height: 600px;
}
.contactpage {
  height: 600px;
  background-color: pink;
}
h1 {
  top: 50%;
  text-align: center;
}
